<script src="/js/tinymce/tinymce.js" type="text/javascript"></script>
<script src="/js/lodash/dist/lodash.js" type="text/javascript"></script>
<script src="/js/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js" type="text/javascript"></script>
<script src="/js/angular-sanitize/angular-sanitize.js" type="text/javascript"></script>
<script src="/js/angular-ui-select/dist/select.js" type="text/javascript"></script>
<link rel="stylesheet" href="/js/angular-ui-select/dist/select.css">
<script>
    document.createElement('ui-select');
    document.createElement('ui-select-match');
    document.createElement('ui-select-choices');
</script>
<section class="content-header">
    <h1>Data Captures </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.datas">Data Capture Lists</a></li>
        <li class="active">Add Data Capture</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Data Capture</h3>
                </div>
                <!--<form class="form-horizontal" name="captureForm" ng-submit="vm.save(captureForm.$valid)" novalidate>-->
                <form class="form-horizontal" name="captureForm" novalidate>
                    <div class="box-body">
                        <!--<div class="form-group" ng-class="{ 'has-error': captureForm.topic_id.$invalid && ( vm.formSubmitted || captureForm.topic_id.$touched) }">-->
                            <!--<label for="inputEmail3" class="col-sm-2 control-label ">Topics <span  style="color:red">*</span></label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<select multiple class="form-control" name="topic_id" required ng-model="vm.topic_id" size="10">-->
                                    <!--<option value="{{topic.id}}" ng-repeat="topic in vm.systemTopics">{{topic.name}}</option>-->
                                <!--</select>-->
                                <!--<p ng-show="captureForm.topic_id.$error.required && ( vm.formSubmitted || captureForm.topic_id.$touched)"-->
                                   <!--class="help-block">Topic is required.</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--Ui select  -->
                        <div class="form-group" ng-class="{ 'has-error': captureForm.topic_id.$invalid && ( vm.formSubmitted || captureForm.topic_id.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label ">Topic <span  style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <ui-select name="topic_id" ng-required="true" multiple ng-model="vm.topicSelected" theme="bootstrap">
                                    <ui-select-match placeholder="Select topic(s)...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="item  in vm.systemTopics | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search "></div>
                                    </ui-select-choices>
                                </ui-select>
                                <p ng-show="captureForm.topic_id.$error.required && ( vm.formSubmitted || captureForm.topic_id.$touched)"
                                   class="help-block">Topic is required.</p>
                            </div>
                        </div>

                        <!--<div class="form-group" ng-class="{ 'has-error': captureForm.key_field_id.$invalid && ( vm.formSubmitted || captureForm.key_field_id.$touched) }">-->
                            <!--<label for="inputEmail3" class="col-sm-2 control-label">Key fields <span  style="color:red">*</span></label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<select multiple class="form-control" name="key_field_id" required ng-model="vm.key_field_id" size="10">-->
                                    <!--<option value="{{keyField.id}}" ng-repeat="keyField in vm.systemKeyFields">{{keyField.name}}</option>-->
                                <!--</select>-->
                                <!--<p ng-show="captureForm.key_field_id.$error.required && ( vm.formSubmitted || captureForm.key_field_id.$touched)"-->
                                   <!--class="help-block">Key field is required.</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group" ng-class="{ 'has-error': captureForm.key_field_id.$invalid && ( vm.formSubmitted || captureForm.key_field_id.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">Key field <span  style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <ui-select name="key_field_id" ng-required="true" multiple ng-model="vm.keySelected" theme="bootstrap">
                                    <ui-select-match placeholder="Select key field(s)...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="item  in vm.systemKeyFields | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search "></div>
                                    </ui-select-choices>
                                </ui-select>
                                <p ng-show="captureForm.key_field_id.$error.required && ( vm.formSubmitted || captureForm.key_field_id.$touched)"class="help-block">Key field is required.</p>
                            </div>
                        </div>

                        <!--<div class="form-group" ng-class="{ 'has-error': captureForm.state_id.$invalid && ( vm.formSubmitted || captureForm.state_id.$touched) }">-->
                            <!--<label for="inputEmail3" class="col-sm-2 control-label">State <span  style="color:red">*</span></label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<select multiple class="form-control custom-state-select" name="state_id" ng-model="vm.state_id" required size="5">-->
                                    <!--<option value="{{stateItem.id}}" ng-repeat="stateItem in vm.systemStates" >{{stateItem.name}}</option>-->
                                <!--</select>-->
                                <!--<p ng-show="captureForm.state_id.$error.required && ( vm.formSubmitted || captureForm.state_id.$touched)"-->
                                   <!--class="help-block">State is required.</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group" ng-class="{ 'has-error': captureForm.state_id.$invalid && ( vm.formSubmitted || captureForm.state_id.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">State <span  style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <!--<select multiple class="form-control custom-state-select" name="state_id" ng-model="vm.state_id" required size="5">-->
                                    <!--<option value="{{stateItem.id}}" ng-repeat="stateItem in vm.systemStates" >{{stateItem.name}}</option>-->
                                <!--</select>-->
                                <ui-select name="state_id" ng-required="true" multiple ng-model="vm.stateSelected" theme="bootstrap">
                                    <ui-select-match placeholder="Select state(s)...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="item  in vm.systemStates | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search " ></div>
                                    </ui-select-choices>
                                </ui-select>
                                <p ng-show="captureForm.state_id.$error.required && ( vm.formSubmitted || captureForm.state_id.$touched)"
                                   class="help-block">State is required.</p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': captureForm.date_of_action.$invalid && ( vm.formSubmitted || captureForm.date_of_action.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">Date of Action <span  style="color:red">*</span></label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.date_of_action" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': captureForm.partner_id.$invalid && ( vm.formSubmitted || captureForm.partner_id.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">Partner</label>
                            <div class="col-sm-10">
                                <!--<select multiple class="form-control" name="partner_id" ng-model="vm.partner_id" size="10">-->
                                    <!--<option value =""></option>-->
                                    <!--<option value="{{partner.id}}" ng-repeat="partner in vm.systemPartners">{{partner.name}}</option>-->
                                <!--</select>-->
                                <ui-select name="partner_id"  multiple ng-model="vm.partnerSelected" theme="bootstrap">
                                    <ui-select-match placeholder="Select partner(s)...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="item  in vm.systemPartners | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search "></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': captureForm.entry_text.$invalid && ( vm.formSubmitted || captureForm.entry_text.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">Note <span  style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <textarea name="entry_text" ng-model="vm.entry_text" required class="form-control" rows="5"  ui-tinymce="tinymceOptions" id="note_textarea"></textarea>
                                <p ng-show="captureForm.entry_text.$error.required && ( vm.formSubmitted || captureForm.entry_text.$touched)"
                                   class="help-block">Note is required.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Entry Date</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="vm.entry_date" uib-datepicker-popup="{{format}}"  datepicker-option="dateOptions" disabled class="form-control">
                            </div>
                        </div>

                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>

                    </div>
                    <div class="box-footer">
                        <a ui-sref="app.datas" class="btn btn-default"><i class="fa fa-angle-double-left"></i>
                            Back</a>
                        <button type="button" ng-click="vm.save(captureForm.$valid, 'save')" class="btn btn-primary pull-right" style="margin-left: 20px;">Save</button>
                        <button type="button" ng-click="vm.save(captureForm.$valid, 'save_another')" class="btn btn-primary pull-right">Save and Add Another</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--<script type='text/javascript' src="https://rawgit.com/long2know/angular-directives-general/master/src/multiselect.js"></script>-->
    <!--<script type="text/ng-template">-->
        <!--<form>-->
            <!--<div class="form-group">-->
                <!--<multiselect class="input-xlarge multiselect" ng-model="vm.option1" options="p.id as p.name for p in vm.systemTopics" select-limit="5"-->
                             <!--header="Select Stuff1" selected-header="options selected" multiple="true" required-->
                             <!--enable-filter="true" filter-placeholder="Filter stuff..">-->
                <!--</multiselect>-->
            <!--</div>-->
        <!--</form>-->
    <!--</script>-->

</section>